<!DOCTYPE html>
<html>
  <head>
    <title>Concession Kiosk - Thank You!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Concession Kiosk - Thank You</h1>
    <div>
      <p>
        Your order number is: 100
    </p>
    </div>
    <div>
      Your order contains: A lot of stuff
    </div>

  </body>
</html>
